#########################
#### GENERAL or ROOT ####
#########################

# Transifex
.transifexrc

# Maven
target/

# Eclipse
/bin/
.classpath
.project
.settings/
*.iml
*.pyc
.DS_Store
*.orig
pre-commit-changes.txt

# Emacs temp files
~*
*~

#SVN
.svn
*.svn-base
*#

.idea
.AppleDouble/

# OS Files
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
Icon?
ehthumbs.db
Thumbs.db

#vim files
.*.sw?
.*~
