@font-face {
    font-family: 'OpenSans';
    font-weight: normal;
    font-style: normal;
    src:url(OpenSans-Regular.ttf) format('opentype');
}

body {
    margin-left : 6em;
    margin-right : 16em;
    color:black;
    font-family: arial, helvetica, sans-serif;
}