@charset 'utf-8';

.trips_css_017_etc {
 font-size: 20;
 line-height: 3.5px;
 position: absolute
}

.trips_ACC_015_etc {
    font-size: 20;
    line-height: 3.5;
}

.p {
    font: 600 12px/14px sans-serif
}
